<div data-extend-template="/static/templates/account/layout.html">
   <div data-block="content">
        <form ng-submit="submit()">
            <div class="form-group" ng-class="{'has-error': errors.name}">
                <label class="control-label" for="name">Name</label>
                <div class=" ">
                    <input class="form-control" id="name" ng-model="app.name" maxlength="255" name="name" type="text" />
                </div>
                <span class="help-block" ng-repeat="error in errors.name">{{error.error}}</span>
            </div>

            <div class="form-group" ng-class="{'has-error': errors.image}">
                <label class="control-label" for="image">Image</label>
                <div class=" ">
                    <select class="form-control" id="image" name="image" ng-model="app.image" ng-options="i.id as i.name for i in images">
                    </select>
                </div>
                <span class="help-block" ng-repeat="error in errors.image">{{error.error}}</span>
            </div>

            <div class="form-group" ng-class="{'has-error': errors.memory}">
                <label class="control-label" for="memory">Memory</label>
                <div class=" ">
                    <input class="form-control" id="memory" ng-model="app.memory" maxlength="255" name="memory" type="number" />
                </div>
                <span class="help-block" ng-repeat="error in errors.memory">{{error.error}}</span>
            </div>

            <div class="variables">
                <br />
                <h4>Image variables</h4>

                
            </div>
        </form>
    </div>
</div>
