<div data-extend-template="/static/templates/account/layout.html">
   <div data-block="content">
		<div style="text-align:right">
			<a href="/a/{{account.name}}/cronjobs/add" class="btn btn-default btn" role="button">Add cronjob</a>
		</div>
		<br />

		<table class="table table-hover">
			<thead>
				<tr>
					<th>Name</th>
					<th>Status</th>
					<th>Cron</th>
					<th>Image</th>
					<th>Timeout</th>
					<th>Enabled</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="cronjob in cronjobs">
					<td><a href="/a/{{ account.name }}/cronjobs/{{ cronjob.id }}">{{cronjob.name}}</a></td>
					<td>
						<span ng-if="cronjob.success" class="glyphicon glyphicon-ok-sign" style="color:green"></span>
						<span ng-if="!cronjob.success" class="glyphicon glyphicon-minus-sign" style="color:red"></span>
					</td>
					<td>{{cronjob.cron_expression}}</td>
					<td>{{cronjob.image}}</td>
					<td>{{cronjob.timeout}} s</td>
					<td>
						<span ng-if="cronjob.enabled" class="glyphicon glyphicon-ok-sign" style="color:green"></span>
						<span ng-if="!cronjob.enabled" class="glyphicon glyphicon-minus-sign" style="color:red"></span>
					</td>
					<td style="text-align:center"><a href="/a/{{ account.name }}/cronjobs/{{ cronjob.id }}/logs" title="Show logs"><span class="glyphicon glyphicon glyphicon-list"></span></a></td>
				</tr>
			</tbody>
		</table>
    </div>
</div>
