/* scss stuff */
.clearfix:after, .list-v2:after, .tasks-list li:after, .tasks-list li .details:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

/*
 * Style tweaks
 * --------------------------------------------------
 */
html,
body {
  overflow-x: hidden;
  /* Prevent scroll on narrow devices */ }

body {
  padding-top: 50px;
  font-family: 'Source Sans Pro', sans-serif;
  background: #f2f2f2; }

footer {
  padding: 30px 0; }

body > .container {
  margin-top: 30px; }

.account-menu {
  padding: 0px 0px 10px 0px;
  min-height: 73px; }

.account-menu h1 {
  font-size: 30px;
  float: left;
  font-weight: normal;
  margin-right: 15px; }

.account-menu > div > div {
  margin-top: 32px; }

.navbar {
  background: #b0424a;
  color: white; }

.navbar-inverse {
  border-color: #7f2f35; }

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
  background: #8b3439; }

.navbar-inverse .navbar-nav > li > a, .navbar a {
  color: white;
  text-decoration: none; }

.navbar-inverse .navbar-brand {
  color: white; }

.glyphicon {
  color: #8a8989; }

.glyphicon-ok-sign:before {
  content: ' '; }

.glyphicon-ok-sign {
  background: #85c753;
  border-radius: 50%;
  width: 12px;
  height: 12px; }

.glyphicon-minus-sign:before {
  content: ' '; }

.glyphicon-minus-sign {
  background: #a4a4a4;
  border-radius: 50%;
  width: 12px;
  height: 12px; }

.btn-primary {
  background: #333e4a;
  border: none; }

.btn-primary:hover {
  background: #333e4a;
  border: none; }

.btn-primary.disabled, .btn-primary[disabled], fieldset[disabled] .btn-primary, .btn-primary.disabled:hover, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary:hover, .btn-primary.disabled:focus, .btn-primary[disabled]:focus, fieldset[disabled] .btn-primary:focus, .btn-primary.disabled.focus, .btn-primary[disabled].focus, fieldset[disabled] .btn-primary.focus, .btn-primary.disabled:active, .btn-primary[disabled]:active, fieldset[disabled] .btn-primary:active, .btn-primary.disabled.active, .btn-primary[disabled].active, fieldset[disabled] .btn-primary.active {
  border: none;
  background: #333e4a; }

a {
  color: black;
  text-decoration: underline; }

a:hover {
  color: #293441; }

a.btn {
  text-decoration: none; }

/* design v2.0 */
.container-v2 .rightsidemenu {
  position: fixed;
  top: 51px;
  left: 0px;
  bottom: 0px;
  width: 250px;
  color: white;
  background: #293441;
  padding: 10px 10px; }
  .container-v2 .rightsidemenu .list-group {
    background: transparent; }
    .container-v2 .rightsidemenu .list-group .list-group-item {
      background: transparent;
      border: none;
      border-radius: 0px;
      color: #a4a4a4;
      text-decoration: none; }
      .container-v2 .rightsidemenu .list-group .list-group-item.active {
        color: white;
        margin-left: -10px;
        margin-right: 10px;
        padding-left: 25px;
        background: #46515b;
        border-radius: 0px 5px 5px 0px; }
.container-v2 .content {
  margin-left: 250px;
  padding: 20px;
  max-width: 1000px; }

.table {
  background: #f9f9f9;
  border-top: solid #d3d3d3 1px; }

.table td {
  border: solid #d3d3d3 1px;
  text-align: center; }

.table th, .table > thead > tr > th {
  border: solid #d3d3d3 1px;
  text-align: center; }

.list-v2 {
  margin: 0px -10px;
  padding: 0px 0px; }

.list-v2 li {
  list-style: none;
  float: left; }

.list-v2 li > a {
  padding: 10px;
  display: block;
  text-decoration: none;
  margin: 10px;
  width: 250px;
  border: solid #bfbfbf 1px; }

.list-v2 li > a:hover {
  background: #fff; }

.list-v2 li .title {
  text-decoration: underline; }

.tasks-list {
  max-width: 1000px;
  padding: 0px;
  margin: 0px; }
  .tasks-list li > a {
    display: block; }
  .tasks-list li {
    list-style: none;
    width: 100%;
    margin-bottom: 20px;
    position: relative; }
    .tasks-list li .line {
      border-left: 1px #dedede solid;
      height: 150px;
      width: 2px;
      position: absolute;
      left: 20px;
      z-index: -1; }
    .tasks-list li .status {
      float: left;
      width: 50px; }
      .tasks-list li .status .circle {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background: #fff;
        border: 1px #dedede solid; }
        .tasks-list li .status .circle .small {
          width: 20px;
          margin: 9px;
          height: 20px;
          border-radius: 50%;
          background: #fff; }
      .tasks-list li .status.waiting .circle {
        background: #fff url("/static/images/tasks-loader.svg") 3px 3px no-repeat; }
        .tasks-list li .status.waiting .circle .small {
          display: none; }
      .tasks-list li .status.success .small {
        background: #85c753; }
      .tasks-list li .status.failure .small {
        background: #b0424a; }
    .tasks-list li .start .line {
      border-left: 1px #dedede solid;
      height: 80px;
      top: -80px;
      width: 2px;
      position: absolute;
      left: 20px;
      z-index: -1; }
    .tasks-list li .start .circle {
      width: 20px;
      height: 20px;
      margin-top: 50px;
      margin-left: 10px;
      border-radius: 50%;
      background: #dedede;
      border: 1px #dedede solid; }
    .tasks-list li .details {
      float: left;
      background: #fff;
      width: 90%;
      border: 1px #dedede solid;
      border-radius: 5px;
      position: relative; }
      .tasks-list li .details .left {
        width: 46%;
        padding: 10px;
        position: relative;
        overflow: hidden; }
        .tasks-list li .details .left h3 {
          padding: 0px;
          margin: 0px;
          font-size: 16px;
          margin-bottom: 10px; }
        .tasks-list li .details .left div {
          color: #666; }
      .tasks-list li .details .duration {
        position: absolute;
        overflow: hidden;
        top: 0px;
        bottom: 0px;
        right: 40px;
        text-align: center; }
        .tasks-list li .details .duration div {
          transform: translateY(40%);
          height: 100%;
          font-size: 16px;
          top: 50%;
          color: #666;
          position: relative; }

.raw-json pre {
  border: 1px #dedede solid;
  border-radius: 0px;
  padding: 5px;
  background: #fff; }
.raw-json .string {
  color: green; }
.raw-json .number {
  color: darkorange; }
.raw-json .boolean {
  color: blue; }
.raw-json .null {
  color: magenta; }
.raw-json .key {
  color: red; }

/* Generated by Font Squirrel (http://www.fontsquirrel.com) on March 1, 2015 */
@font-face {
  font-family: 'monacoregular';
  src: url("/static/css/fonts/monaco-webfont.eot");
  src: url("/static/css/fonts/monaco-webfont.eot?#iefix") format("embedded-opentype"), url("/static/css/fonts/monaco-webfont.woff2") format("woff2"), url("/static/css/fonts/monaco-webfont.woff") format("woff"), url("/static/css/fonts/monaco-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
/* Terminal */
.terminal {
  float: left;
  border: #000 solid 5px;
  font-family: "monacoregular", "DejaVu Sans Mono", "Liberation Mono", monospace;
  font-size: 13px;
  color: #f0f0f0;
  background: #000; }

.terminal-cursor {
  color: #000;
  background: #f0f0f0; }

/* bootstrap angular */
.nav, .pagination, .carousel, .panel-title a {
  cursor: pointer; }

/* tasks */
#tasks ul {
  list-style: none;
  position: fixed;
  bottom: 0px;
  padding: 0px;
  margin: 0px;
  right: 0px;
  z-index: 10;
  width: 300px; }

#tasks li {
  padding: 5px;
  margin-top: 1px;
  position: relative;
  cursor: pointer;
  color: white; }

#tasks li.task {
  cursor: pointer; }

#tasks .bg {
  position: absolute;
  z-index: -6;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  background: #46515b; }

#tasks .task_progress {
  position: absolute;
  z-index: -5;
  top: 0px;
  bottom: 0px;
  width: 0%;
  left: 0px;
  background: #fba92b; }

#tasks .success {
  position: absolute;
  z-index: -5;
  top: 0px;
  bottom: 0px;
  width: 100%;
  left: 0px; }

#tasks .success.green {
  background: #85c753; }

#tasks .success.red {
  background: #b0424a; }

#tasks li .time {
  float: right; }

.btn, .form-control, select {
  border-radius: 0px; }

/* bouncing ball animation */
/*
 * Off Canvas
 * --------------------------------------------------
 */
@media screen and (max-width: 767px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all .25s ease-out;
    -o-transition: all .25s ease-out;
    transition: all .25s ease-out; }

  .row-offcanvas-right {
    right: 0; }

  .row-offcanvas-left {
    left: 0; }

  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -50%;
    /* 6 columns */ }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -50%;
    /* 6 columns */ }

  .row-offcanvas-right.active {
    right: 50%;
    /* 6 columns */ }

  .row-offcanvas-left.active {
    left: 50%;
    /* 6 columns */ }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 50%;
    /* 6 columns */ } }
#shell {
  width: 750px;
  height: 520px;
  padding: 2px; }

#shell.active {
  background-color: #111; }

#shell .terminal {
  background-color: #111;
  color: #fafafa;
  padding: 2px;
  font-size: 15px; }

#shell .terminal:focus .terminal-cursor {
  background-color: #fafafa; }

.pace {
  width: 140px;
  height: 300px;
  top: -90px;
  right: -20px;
  z-index: 2000;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  opacity: 0;
  -webkit-transition: all 2s linear 0s;
  -moz-transition: all 2s linear 0s;
  transition: all 2s linear 0s; }

.pace.pace-active {
  -webkit-transform: scale(0.25);
  -moz-transform: scale(0.25);
  -ms-transform: scale(0.25);
  -o-transform: scale(0.25);
  transform: scale(0.25);
  opacity: 1; }

.pace .pace-activity {
  width: 140px;
  height: 140px;
  border-radius: 70px;
  background: #29d;
  position: absolute;
  top: 0;
  z-index: 1911;
  -webkit-animation: pace-bounce 1s infinite;
  -moz-animation: pace-bounce 1s infinite;
  -o-animation: pace-bounce 1s infinite;
  -ms-animation: pace-bounce 1s infinite;
  animation: pace-bounce 1s infinite; }

.pace .pace-progress {
  position: absolute;
  display: block;
  left: 50%;
  bottom: 0;
  z-index: 1910;
  margin-left: -30px;
  width: 60px;
  height: 75px;
  background: rgba(20, 20, 20, 0.1);
  box-shadow: 0 0 20px 35px rgba(20, 20, 20, 0.1);
  border-radius: 30px / 40px;
  -webkit-transform: scaleY(0.3) !important;
  -moz-transform: scaleY(0.3) !important;
  -ms-transform: scaleY(0.3) !important;
  -o-transform: scaleY(0.3) !important;
  transform: scaleY(0.3) !important;
  -webkit-animation: pace-compress .5s infinite alternate;
  -moz-animation: pace-compress .5s infinite alternate;
  -o-animation: pace-compress .5s infinite alternate;
  -ms-animation: pace-compress .5s infinite alternate;
  animation: pace-compress .5s infinite alternate; }

@-webkit-keyframes pace-bounce {
  0% {
    top: 0;
    -webkit-animation-timing-function: ease-in; }
  50% {
    top: 140px;
    height: 140px;
    -webkit-animation-timing-function: ease-out; }
  55% {
    top: 160px;
    height: 120px;
    border-radius: 70px / 60px;
    -webkit-animation-timing-function: ease-in; }
  65% {
    top: 120px;
    height: 140px;
    border-radius: 70px;
    -webkit-animation-timing-function: ease-out; }
  95% {
    top: 0;
    -webkit-animation-timing-function: ease-in; }
  100% {
    top: 0;
    -webkit-animation-timing-function: ease-in; } }
@-moz-keyframes pace-bounce {
  0% {
    top: 0;
    -moz-animation-timing-function: ease-in; }
  50% {
    top: 140px;
    height: 140px;
    -moz-animation-timing-function: ease-out; }
  55% {
    top: 160px;
    height: 120px;
    border-radius: 70px / 60px;
    -moz-animation-timing-function: ease-in; }
  65% {
    top: 120px;
    height: 140px;
    border-radius: 70px;
    -moz-animation-timing-function: ease-out; }
  95% {
    top: 0;
    -moz-animation-timing-function: ease-in; }
  100% {
    top: 0;
    -moz-animation-timing-function: ease-in; } }
@keyframes pace-bounce {
  0% {
    top: 0;
    animation-timing-function: ease-in; }
  50% {
    top: 140px;
    height: 140px;
    animation-timing-function: ease-out; }
  55% {
    top: 160px;
    height: 120px;
    border-radius: 70px / 60px;
    animation-timing-function: ease-in; }
  65% {
    top: 120px;
    height: 140px;
    border-radius: 70px;
    animation-timing-function: ease-out; }
  95% {
    top: 0;
    animation-timing-function: ease-in; }
  100% {
    top: 0;
    animation-timing-function: ease-in; } }
@-webkit-keyframes pace-compress {
  0% {
    bottom: 0;
    margin-left: -30px;
    width: 60px;
    height: 75px;
    background: rgba(20, 20, 20, 0.1);
    box-shadow: 0 0 20px 35px rgba(20, 20, 20, 0.1);
    border-radius: 30px / 40px;
    -webkit-animation-timing-function: ease-in; }
  100% {
    bottom: 30px;
    margin-left: -10px;
    width: 20px;
    height: 5px;
    background: rgba(20, 20, 20, 0.3);
    box-shadow: 0 0 20px 35px rgba(20, 20, 20, 0.3);
    border-radius: 20px / 20px;
    -webkit-animation-timing-function: ease-out; } }
@-moz-keyframes pace-compress {
  0% {
    bottom: 0;
    margin-left: -30px;
    width: 60px;
    height: 75px;
    background: rgba(20, 20, 20, 0.1);
    box-shadow: 0 0 20px 35px rgba(20, 20, 20, 0.1);
    border-radius: 30px / 40px;
    -moz-animation-timing-function: ease-in; }
  100% {
    bottom: 30px;
    margin-left: -10px;
    width: 20px;
    height: 5px;
    background: rgba(20, 20, 20, 0.3);
    box-shadow: 0 0 20px 35px rgba(20, 20, 20, 0.3);
    border-radius: 20px / 20px;
    -moz-animation-timing-function: ease-out; } }
@keyframes pace-compress {
  0% {
    bottom: 0;
    margin-left: -30px;
    width: 60px;
    height: 75px;
    background: rgba(20, 20, 20, 0.1);
    box-shadow: 0 0 20px 35px rgba(20, 20, 20, 0.1);
    border-radius: 30px / 40px;
    animation-timing-function: ease-in; }
  100% {
    bottom: 30px;
    margin-left: -10px;
    width: 20px;
    height: 5px;
    background: rgba(20, 20, 20, 0.3);
    box-shadow: 0 0 20px 35px rgba(20, 20, 20, 0.3);
    border-radius: 20px / 20px;
    animation-timing-function: ease-out; } }

/*# sourceMappingURL=style.css.map */
