{% extends "account/layout.html" %}
{% load bootstrap %}
{% block subcontent %}
<form method="post" action="">
    {%csrf_token%}
    <p style="color:#888">Available variables: #apache# {% for port in ports %}, {{port}}{% endfor %}</p>
    {{ formset|bootstrap }}
    <div style="text-align:right">

    {% if domain %}<a href="{% url 'manager.views.account_domains_delete' account.name domain.id %}" class="btn btn-default">Delete</a>{% endif %}
        <button type="submit" class="btn btn-primary">Save</button>
        </div>
</form>

<script id="nginx1" type="text/x-handlebars-template">index index.php index.html index.htm;

root /home/ACCOUNT/domains/DOMAIN/www;

location / {
    try_files $uri $uri/ /index.php ;
}

location = /favicon.ico { log_not_found off; access_log off; }
location = /robots.txt  { log_not_found off; access_log off; }

location ~ \.php$ {
    fastcgi_pass #php56_9000_ip#:9000;
    fastcgi_index index.php;
    fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
    include fastcgi_params;
}
</script>
<script id="nginx2" type="text/x-handlebars-template"># Enable compression, this will help if you have for instance advagg module
# by serving Gzip versions of the files.
gzip_static on;

index index.php index.html index.htm;

root /home/ACCOUNT/domains/DOMAIN/www;

location = /favicon.ico {
        log_not_found off;
        access_log off;
}

location = /robots.txt {
        alias /etc/nginx/robots.txt;
        allow all;
        log_not_found off;
        access_log off;
}

# This matters if you use drush prior to 5.x
# After 5.x backups are stored outside the Drupal install.
#location = /backup {
#        deny all;
#}

# Very rarely should these ever be accessed outside of your lan
location ~* \.(txt|log)$ {
#                deny all;
}

location ~ \..*/.*\.php$ {
        return 403;
}

# No no for private
location ~ ^/sites/.*/private/ {
        return 403;
}

# Block access to "hidden" files and directories whose names begin with a
# period. This includes directories used by version control systems such
# as Subversion or Git to store control files.
location ~ (^|/)\. {
        return 403;
}

location / {
        # This is cool because no php is touched for static content
        try_files $uri @rewrite;
}

location @rewrite {
        # You have 2 options here
        # For D7 and above:
        # Clean URLs are handled in drupal_environment_initialize().
        rewrite ^ /index.php;
        # For Drupal 6 and bwlow:
        # Some modules enforce no slash (/) at the end of the URL
        # Else this rewrite block wouldn't be needed (GlobalRedirect)
        #rewrite ^/(.*)$ /index.php?q=$1;
}

location ~ \.php$ {
        fastcgi_split_path_info ^(.+\.php)(/.+)$;
        #NOTE: You should have "cgi.fix_pathinfo = 0;" in php.ini
        include fastcgi_params;
fastcgi_param SCRIPT_FILENAME $request_filename;
        fastcgi_intercept_errors on;
        fastcgi_pass #php56_9000_ip#:9000;
fastcgi_read_timeout 2000;
}

# Fighting with Styles? This little gem is amazing.
# This is for D6
#location ~ ^/sites/.*/files/imagecache/ {
# This is for D7 and D8
location ~ ^/sites/.*/files/styles/ {
        try_files $uri @rewrite;
}

location ~* \.(js|css|png|jpg|jpeg|gif|ico)$ {
        expires max;
        log_not_found off;
}
</script>
<script id="nginx3" type="text/x-handlebars-template">location / {
    proxy_pass  http://IP;
    proxy_http_version 1.1;
    proxy_set_header Host $http_host;
    proxy_set_header X-Forwarded-Proto $scheme;
    proxy_set_header X-Forwarded-For $remote_addr;
    proxy_set_header X-Forwarded-Port $server_port;
    proxy_set_header X-Request-Start $msec;
}</script>
<script id="nginx4" type="text/x-handlebars-template">location / {
    proxy_pass  http://#apache#;
    proxy_http_version 1.1;
    proxy_set_header Host $http_host;
    proxy_set_header X-Forwarded-Proto $scheme;
    proxy_set_header X-Forwarded-For $remote_addr;
    proxy_set_header X-Forwarded-Port $server_port;
    proxy_set_header X-Request-Start $msec;
}</script>
<script id="nginx5" type="text/x-handlebars-template">location / {
    proxy_pass  http://IP;
    proxy_http_version 1.1;
    proxy_set_header Upgrade $http_upgrade;
    proxy_set_header Connection "upgrade";
    proxy_set_header Host $http_host;
    proxy_set_header X-Forwarded-Proto $scheme;
    proxy_set_header X-Forwarded-For $remote_addr;
    proxy_set_header X-Forwarded-Port $server_port;
    proxy_set_header X-Request-Start $msec;
}</script>
<script id="nginx6" type="text/x-handlebars-template">location / {
    include uwsgi_params;
    uwsgi_pass #app_9000_ip#:9000;
    uwsgi_intercept_errors on;
}</script>
<script id="apache1" type="text/x-handlebars-template">DocumentRoot /home/ACCOUNT/domains/DOMAIN/www

<php>#php56_9000_ip#</php>

<Directory /home/ACCOUNT/domains/DOMAIN/www>
    Options Indexes FollowSymLinks MultiViews
    AllowOverride All
    Order allow,deny
    allow from all
</Directory></script>
{% endblock %}

{% block javascript %}
        <script src="/static/ace/ace.js" type="text/javascript" charset="utf-8"></script>
<script>
$(document).ready(function() {

var examples_nginx = [
    {'name': 'PHP (wordpress, codeigniter... rewrite)', 'value': 'nginx1'},
    {'name': 'PHP (Drupal specific)', 'value': 'nginx2'},
    {'name': 'ProxyPass', 'value': 'nginx3'},
    {'name': 'ProxyPass + WebSockets', 'value': 'nginx5'},
    {'name': 'Proxy to Apache', 'value': 'nginx4'},
    {'name': 'Python (UWSGI)', 'value': 'nginx6'}
];

var examples_apache = [
    {'name': 'PHP FPM', 'value': 'apache1'}
];

var editors = {};


    //ace
    var useAce = function(textarea_id) {
        var ace_id = 'ace_'+textarea_id;
        $('#' + textarea_id).after('<pre id="'+ace_id+'" style="height:400px;width:100%"></pre>');
        var editor = ace.edit(ace_id);
        editor.setTheme("ace/theme/chrome");
        editor.setFontSize("12px")
        editor.getSession().setMode("ace/mode/markdown");

        editors[textarea_id] = editor;
        var textarea = $('#' + textarea_id).hide();
        editor.getSession().setValue(textarea.val());
        editor.getSession().on('change', function(){
        textarea.val(editor.getSession().getValue());
        });
    }

    if ($('#id_nginx_config').length) {
        useAce('id_nginx_config');
        useAce('id_apache_config');
    }

    var html = '<div class="dropdown" style="float:right">'+
 ' <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">'+
 '   Examples'+
 '   <span class="caret"></span>'+
 ' </button>'+
 ' <ul class="dropdown-menu dropdown-menu-right example_select" role="menu" aria-labelledby="dropdownMenu1">';

 for(var x in examples_nginx) {
 html +='   <li role="presentation" data-value="'+examples_nginx[x].value+'" data-input="id_nginx_config"><a role="menuitem" tabindex="-1" href="#">'+examples_nginx[x].name+'</a></li>';
 }
 html += ' </ul>'+
 '</div>';

 $('#id_nginx_config').after(html);


     var html = '<div class="dropdown" style="float:right">'+
 ' <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">'+
 '   Examples'+
 '   <span class="caret"></span>'+
 ' </button>'+
 ' <ul class="dropdown-menu dropdown-menu-right example_select" role="menu" aria-labelledby="dropdownMenu1">';

 for(var x in examples_apache) {
 html +='   <li role="presentation" data-value="'+examples_apache[x].value+'" data-input="id_apache_config"><a role="menuitem" tabindex="-1" href="#">'+examples_apache[x].name+'</a></li>';
 }
 html += ' </ul>'+
 '</div>';

 $('#id_apache_config').after(html);

 $('.example_select li').click(function() {
       var id = $(this).attr('data-value');

       var source   = $("#" + id).html();
       var template = Handlebars.compile(source);
       console.log($(this).attr('data-input'))
       editors[$(this).attr('data-input')].getSession().setValue(template({}));
 });

});
</script>
{% endblock %}