{% extends "layout.html" %}

{% block content %}

         <div class="row row-offcanvas row-offcanvas-right">

            <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">
          <div class="list-group">
            <a href="{% url 'manager.views.account' account.name %}" class="list-group-item active">Overview</a>
            <a href="{% url 'manager.views.account_apps' account.name %}" class="list-group-item">Apps</a>
            <a href="{% url 'manager.views.account_domains' account.name %}" class="list-group-item">Domains</a>
            <a href="{% url 'manager.views.account_databases' account.name %}" class="list-group-item">Databases</a>
          </div>
        </div><!--/.sidebar-offcanvas-->

        <div class="col-xs-12 col-sm-9">

          <p class="pull-right visible-xs">
            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
          </p>

          {% block subcontent %}

          {% endblock %}
        </div><!--/.col-xs-12.col-sm-9-->


      </div><!--/row-->
 {% endblock %}