<div class="container-v2">
    <div class="rightsidemenu">
        <h1>{{user.username}}</h1>
        <div class="description"></div>

        <div class="list-group">
            <a href="/users/{{ user.id }}" class="list-group-item" ng-class="{active: tab=='overview'}" force-reload>Overview</a>
                <a href="/users/{{ user.id }}/access" class="list-group-item" ng-class="{active: tab=='access'}" force-reload>Access</a>
        </div>
    </div>

<div class="content">
     <div data-block="content">
    </div>
    </div>
</div>
<!--/row-->
</div>
