<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Manager</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">
  </head>

  
{% block container %}
    <div class="container">
    
     {% block content %}
     {% endblock %}

      <hr>

      <footer>
      </footer>

    </div><!--/.container-->
{% endblock %}

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/vendor/jquery-2.1.3.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/vendor/handlebars-v2.0.0.js"></script>
    <script src="/static/vendor/reconnecting-websocket.min.js"></script>
    <script src="/static/vendor/term.js"></script>
    <script>function getWebsocketHost() {
  if (location.protocol == 'https:') {
    return 'wss://'+location.host;
  }else{
    return 'ws://'+location.host;
  }
}</script>
  {% block javascript %}
  {% endblock %}
  </body>
</html>
