{% extends "layout.html" %}
{% load bootstrap %}
{% block content %}

{% include "includes/action.html" %}

{% endblock %}

{% block javascript %}
<script>
    $(document).ready(function() {
        $.get('{{action_url}}', function( data ) {
            $('#action-loader').hide();
            console.log(data);
            $('#action-response').html('<b>Response:</b><br />');

            for(var x in data) {
                var line = data[x];
                line = line.replace(new RegExp('\n', 'g'), '<br />');

                $('#action-response').append('<br /><span style=\'color:red\'>-&gt; </span> '+ line);
            }
        });
    });
</script>
{% endblock %}