<div data-extend-template="/static/templates/user/layout.html">
   <div data-block="content">
        <table>
            <tr>
                <td>Name:</td>
                <td>{{user.first_name}} {{user.last_name}}</td>
            </tr>
            <tr>
                <td>Staff:</td>
                <td>{{user.is_staff}}</td>
            </tr>
            <tr>
                <td>Last login:</td>
                <td>{{user.last_login}}</td>
            </tr>
        </table>
    </div>
</div>
