[Unit]
Description=server manager SSH server
After=network.target

[Service]
User=root
WorkingDirectory=/home/manager/sm/
ExecStart=/home/manager/sm/bin/server-manager ssh
Restart=always

[Install]
WantedBy=multi-user.target
