[Unit]
Description=server manager cron daemon
After=network.target

[Service]
User=manager
WorkingDirectory=/home/manager/sm/
ExecStart=/home/manager/sm/bin/server-manager cron
Restart=always

[Install]
WantedBy=multi-user.target
