[Unit]
Description=server manager API / WEB UI
After=network.target

[Service]
User=manager
WorkingDirectory=/home/manager/sm/
ExecStart=/home/manager/sm/bin/server-manager proxy
Restart=always

[Install]
WantedBy=multi-user.target
