[Unit]
Description=server manager SSH server
After=network.target

[Service]
User=root
WorkingDirectory=/home/manager/server-manager/ssh-server/
ExecStart=/home/manager/server-manager/bin/ssh-server
Environment="KEY_FILE=/etc/ssh/ssh_host_rsa_key"
Environment="PORT=20022"

[Install]
WantedBy=multi-user.target
