<nav class="navbar navbar-fixed-top navbar-inverse main-navbar">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Manager: {{profile.server_name}}</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li ng-class="{active: $route.current.activetab == 'accounts'}"><a href="/">Accounts</a></li>
            <li ng-class="{active: $route.current.activetab == 'containers'}"><a href="/containers/">Containers</a></li>
            <li class="dropdown">
                <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Sync <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                <li><a href="" ng-if="profile.user.is_staff" ng-click="syncWebServers()">Sync web servers</a></li>
                <li ng-if="profile.user.is_staff" class="divider"></li>
               <li><a ng-if="profile.user.is_staff" href="/pull/images">Pull images</a></li>
                </ul>
            </li>
            <li ng-class="{active: $route.current.activetab == 'users'}"><a ng-if="profile.user.is_staff" href="/users/">Users</a></li>
            <li><a href="" ng-if="profile.user.is_staff" ng-click="djangoAdmin()">Django Admin</a></li>

          </ul>

            <ul class="nav navbar-nav navbar-right">
                <li ng-class="{active: $route.current.activetab == 'profile'}" class="dropdown">
                <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{profile.user.username}} <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                <li><a href="/profile/ssh-keys">SSH keys</a></li>
                </ul>
            </li>

<li><a href="" ng-click="logout()">Logout</a></li>

                    </ul>
        </div><!-- /.nav-collapse -->
      </div><!-- /.container -->
    </nav><!-- /.navbar -->
