<!--<div class="jumbotron account-menu">
    <div class="container">
        <h1>{{account.name}}</h1>
        <div>
            <div>{{account.description}}</div>
        </div>
    </div>
</div>-->

<div class="container">


	<div id="error"></div>


	<div style="width:100%;text-align:center">
	    <h3>{{action}}</h3>
	<div id="action-loader" style="position:relative;text-align:center;margin: 0px auto;width: 140px">
	    <div class="pace pace-active">
	        <div class="pace-progress" data-progress="50" data-progress-text="50%" >
	            <div class="pace-progress-inner"></div></div><div class="pace-activity"></div></div>
	</div>
	</div>
	<br />

	<div id="action-response"></div>


</div>
<!--/row-->
</div>
