<table class="table table-hover">
    <thead>
    <tr>
        <th>Name</th>
        {% if not account %}<th>Account</th>{% endif %}
        <th></th>
        <th>Status</th>
        <th>Image</th>
        <th>Memory</th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {% for app in apps %}
        <tr>
            <td><a href="{% url 'manager.views.account_apps_edit' app.account.name app.id %}">{{app.name}}</a></td>
            {% if not account %}<td><a href="{% url 'manager.views.account' app.account.name %}">{{app.account.name}}</a></td>{% endif %}
            <td>{% if app.up %}<span class="glyphicon glyphicon-ok-sign" style="color:green"></span>{% else %}
            <span class="glyphicon glyphicon-minus-sign" style="color:red"></span>{% endif %}</td>
            <td>{{app.status}}</td>
            <td>{{app.image.name}}</td>
            <td>{{app.memory}} M</td>
            <td><a href="{% url 'manager.views.account_apps_logs' app.account.name app.id %}" title="Show logs"><span class="glyphicon glyphicon glyphicon-list"></span></a></td>
            <td><a href="{% url 'manager.views.account_apps_action' app.account.name app.id 'start' %}" title="Start"><span class="glyphicon glyphicon-play"></span></a></td>
            <td><a href="{% url 'manager.views.account_apps_action' app.account.name app.id 'stop' %}" title="Stop"><span class="glyphicon glyphicon-stop"></span></a></a></td>
            <td><a href="{% url 'manager.views.account_apps_action' app.account.name app.id 'redeploy' %}" title="Redeploy"><span class="glyphicon glyphicon-repeat"></span></a></a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>